---
import { PageLayout } from "basecamp/layouts";
import { type NavigationLink } from "basecamp/models";

import logo from "../images/group-badge.png";

import { HeaderNavigation, FooterNavigation, Block } from "basecamp/components";

const currentPath = Astro.url.pathname;

interface Props {
    title: string;
}

const { title } = Astro.props;

const headerLinks: NavigationLink[] = [
    {
        text: "Sections",
        url: "/#sections",
        target: "_self",
    },
    {
        text: "Address",
        url: "/#address",
        target: "_self",
    },
    {
        text: "Contact",
        url: "/#contact",
        target: "_self",
    },
];

const footerLinks: NavigationLink[] = [
    {
        target: "_blank",
        text: "Accounts and Annual Returns",
        url: "https://register-of-charities.charitycommission.gov.uk/en/charity-search/-/charity-details/1055895/accounts-and-annual-returns",
    },
    {
        target: "_self",
        text: "Privacy Policy",
        url: "/privacy-policy",
    },
    {
        target: "_blank",
        text: "Runnymede District",
        url: "http://runnymedescouts.org.uk/",
    },
    {
        target: "_blank",
        text: "Surrey County",
        url: "http://www.surrey-scouts.org.uk/",
    },
    {
        target: "_blank",
        text: "The Scout Association",
        url: "http://www.scouts.org.uk/",
    },
];
---

<PageLayout
    theme={{ primary: "#ab1c1c", primaryForeground: "#ffffff" }}
    title={title}
    seo={{
        title: "1st Chertsey Scout Group",
        description:
            "Join the 1st Chertsey Scout Group - a historic hub of Scouting in Chertsey since 1909. We offer fun, adventure, and personal growth for ages 4 to 18, with sections for Squirrels, Beavers, Cubs, and Scouts. Get involved as a volunteer or sign up your child to learn skills for life in a supportive community. Located at Scout HQ, Staines Lane, Chertsey.",
    }}
>
    <main>
        <HeaderNavigation
            name="1st Chertsey"
            logo={logo}
            logoAlt="Logo for 1st Chertsey"
            links={headerLinks}
            currentPath={currentPath}
        />

        <slot />

        <Block.Wrapper id="footer" variant="alternative">
            <Block.Body slot="body" size="xl">
                <FooterNavigation
                    links={footerLinks}
                    logo={logo}
                    logoAlt="1st Chertsey Logo"
                    charityNumber={1055895}
                    name="1st Chertsey Scout Group"
                    subtitle="Home of Scouting in Chertsey"
                    copyright="All Rights Reserved."
                />
            </Block.Body>
        </Block.Wrapper>
    </main>
</PageLayout>
